
<%- include('layout/navbar') %>
<%- include('layout/header') %>
<div style="height: 5vh;">

</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-4" style="border-radius: 10px;">
                <h2 class="text-center mb-3">Reset Password</h2>

                <form action="/auth/resetpassword" method="POST">
                    <input type="hidden" name="email" value="<%= email %>">
                    
                   <input type="hidden" name="token" value="<%= token %>">

                    <div class="mb-3">
                        <label for="newPassword" class="form-label">New Password</label>
                        <input type="password" name="newPassword" required class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" name="confirmPassword" required class="form-control">
                    </div>

                    <button type="submit" class="btn btn-success w-100">Reset Password</button>
                </form>

                <% if (message) { %>
                    <p class="text-danger text-center mt-3"><%= message %></p>
                <% } %>
            </div>
        </div>
    </div>
</div>
<div style="height: 20vh;">

</div>
<%- include('layout/footer') %>